In [1]:
import pandas as pd

In [2]:
df = pd.read_sql_table('Houston_Realtors', 'sqlite:///houston_realtors.db', index_col='index')

In [3]:
df.head()

,License_Type,License_Number,Full_Name,Suffix,License_Status,Original_License_Date,License Expiration_Date,Education_Status,MCE_Status,Designated_Supervisor_Flag,...,Physical_Address_City,Physical_Address_State_Code,Physical_Address_Zip_Code,Physical_Address_County_Code,Related_License_Type,Related_License_Number,Related_License_Full_Name,Related_License_Suffix,Related_License_Start_Date,Agency_Identifier
index,,,,,,,,,,,,,,,,,,,,,
12,SALE,646075,Scott Alan Butterfield,None,21,20140918.0,20220930.0,0,1,0,...,None,None,None,NaN,None,NaN,None,None,NaN,1.000000e+09
19,SALE,649662,Fannet Kavalerchik Nater,None,45,20141216.0,20161231.0,1,0,0,...,None,None,None,NaN,None,NaN,None,None,NaN,1.000000e+09
27,SALE,657917,Cristina Ann Sanchez,None,20,20150707.0,20210731.0,0,1,0,...,None,None,None,NaN,BLLC,9001507.0,None,None,20170721.0,1.000000e+09
30,SALE,650819,Casey Fitzgerald Wright,None,45,20150121.0,20170131.0,1,0,0,...,None,None,None,NaN,None,NaN,None,None,NaN,1.000000e+09
40,SALE,644517,Frederick Heller,None,45,20140807.0,20180831.0,0,1,0,...,None,None,None,NaN,None,NaN,None,None,NaN,1.000000e+09

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30597 entries, 12 to 257548
Data columns (total 32 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   License_Type                  30597 non-null  object
 1   License_Number                30597 non-null  object
 2   Full_Name                     30597 non-null  object
 3   Suffix                        1002 non-null   object
 4   License_Status                30597 non-null  int64
 5   Original_License_Date         30594 non-null  float64
 6   License Expiration_Date       30597 non-null  float64
 7   Education_Status              30597 non-null  int64
 8   MCE_Status                    30597 non-null  int64
 9   Designated_Supervisor_Flag    30597 non-null  int64
 10  Phone_Number                  30592 non-null  object
 11  Email_Address                 29759 non-null  object
 12  Mailing_Address_Line_1        30597 non-null  object
 13  Mailing_Address_Line_2        2901 non-null   object
 14  Mailing_Address_Line_3        626 non-null    object
 15  Mailing_Address_City          30597 non-null  object
 16  Mailing_Address_State_Code    30596 non-null  object
 17  Mailing_Address_Zip_Code      30597 non-null  object
 18  Mailing_Address_County_Code   30597 non-null  int64
 19  Physical_Address_Line_1       12617 non-null  object
 20  Physical_Address_Line_2       1960 non-null   object
 21  Physical_Address_Line_3       163 non-null    object
 22  Physical_Address_City         12614 non-null  object
 23  Physical_Address_State_Code   12612 non-null  object
 24  Physical_Address_Zip_Code     12616 non-null  object
 25  Physical_Address_County_Code  12621 non-null  float64
 26  Related_License_Type          16449 non-null  object
 27  Related_License_Number        16449 non-null  float64
 28  Related_License_Full_Name     2699 non-null   object
 29  Related_License_Suffix        264 non-null    object
 30  Related_License_Start_Date    15623 non-null  float64
 31  Agency_Identifier             30597 non-null  float64
dtypes: float64(6), int64(5), object(21)
memory usage: 7.7+ MB

In [5]:
df.describe()

,License_Status,Original_License_Date,License Expiration_Date,Education_Status,MCE_Status,Designated_Supervisor_Flag,Mailing_Address_County_Code,Physical_Address_County_Code,Related_License_Number,Related_License_Start_Date,Agency_Identifier
count,30597.000000,3.059400e+04,3.059700e+04,30597.000000,30597.000000,30597.000000,30597.000000,12621.000000,1.644900e+04,1.562300e+04,3.059700e+04
mean,25.544792,2.007608e+07,2.020663e+07,0.223192,0.740824,0.009968,100.837402,100.236590,3.619656e+06,2.017406e+07,9.406043e+08
std,10.367196,1.071628e+05,1.613059e+04,0.428692,0.503249,0.099344,4.171784,16.185037,4.116078e+06,3.022684e+04,6.703298e+07
min,20.000000,1.957010e+07,2.011023e+07,0.000000,0.000000,0.000000,0.000000,0.000000,2.911400e+04,1.991123e+07,5.450000e+02
25%,20.000000,2.001102e+07,2.020113e+07,0.000000,0.000000,0.000000,101.000000,101.000000,4.603730e+05,2.016061e+07,8.811661e+08
50%,20.000000,2.011081e+07,2.021073e+07,0.000000,1.000000,0.000000,101.000000,101.000000,5.885690e+05,2.018122e+07,9.900090e+08
75%,21.000000,2.016112e+07,2.022033e+07,0.000000,1.000000,0.000000,101.000000,101.000000,9.003652e+06,2.020013e+07,1.000056e+09
max,80.000000,2.020101e+07,2.024063e+07,2.000000,2.000000,1.000000,227.000000,246.000000,9.009945e+06,2.020102e+07,1.000199e+09